#hero-text {
  font-family: monospace;
  width: 100%;
  height: 100%;
  font-size: 12em;
  font-weight: bold;
}

#blinking-cursor {
  -webkit-animation: 1s blink  infinite;
  -moz-animation: 1s blink step-start infinite;
  -ms-animation: 1s blink step-start infinite;
  -o-animation: 1s blink step-start infinite;
  animation: 1s blink step-start infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: red;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #000000;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: red;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #000000;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #000000;
  }
}
